name: ci-ubuntu

on: [pull_request, workflow_dispatch]

jobs:
  ci-ubuntu-24-04-gplusplus:
    name: ci-ubuntu-24.04-g++
    runs-on: ubuntu-latest
    strategy:
      matrix:
        gplusplus_version: [13]
        cxx_standard: [20]
        libcoro_feature_networking: [ {enabled: ON, tls: ON}]
    container:
      image: ubuntu:24.04
      env:
        TZ: America/New_York
        DEBIAN_FRONTEND: noninteractive
    steps:
      -   name: Install Dependencies
          run: |
            apt-get clean
            apt-get update
            apt install -y --no-install-recommends \
                build-essential \
                software-properties-common
            add-apt-repository ppa:ubuntu-toolchain-r/test
            apt-get install -y --no-install-recommends \
                cmake \
                git \
                ninja-build \
                g++-${{ matrix.gplusplus_version }} \
                libssl-dev \
                sysstat
      -   name: Checkout
          uses: actions/checkout@v4
          with:
            submodules: recursive
            fetch-depth: 0
            fetch-tags: true
      -   name: Mark repository as safe
          run: git config --global --add safe.directory "*"
      -   name: Build
          run: |
            mkdir Release
            cd Release
            cmake \
                -GNinja \
                -DCMAKE_BUILD_TYPE=Release \
                -DCMAKE_C_COMPILER=gcc-${{ matrix.gplusplus_version }} \
                -DCMAKE_CXX_COMPILER=g++-${{ matrix.gplusplus_version }} \
                -DCMAKE_CXX_STANDARD=${{ matrix.cxx_standard }} \
                -DLIBCORO_FEATURE_NETWORKING=${{ matrix.libcoro_feature_networking.enabled }} \
                -DLIBCORO_FEATURE_TLS=${{ matrix.libcoro_feature_networking.tls }} \
                ..
            ninja
      -   name: Test
          run: |
            cd Release
            ./examples/coro_http_200_ok_server &
            CPU_USAGE=pidstat -u -p $(pgrep coro_http) 5 2 | awk '{ sum += $8 } END { print sum }'
            if [[ $CPU_USAGE -gt "5" ]]; then
              exit 1
            fi
