name: ci-windows

on: [pull_request, workflow_dispatch]

jobs:
    ci-windows-2022:
        name: windows-2022
        runs-on: windows-latest
        strategy:
            matrix:
                libcoro_build_shared_libs: [ON, OFF]
        steps:
            -   name: Checkout
                uses: actions/checkout@v4
                with:
                    submodules: recursive
            -   name: Build
                run: |
                    mkdir Release
                    cd Release
                    cmake .. -DLIBCORO_BUILD_SHARED_LIBS=${{ matrix.libcoro_build_shared_libs }}
                    cmake --build . --config Release
            -   name: Test
                run: |
                    cd Release
                    ctest --build-config Release -VV
